h5 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.border-i {
  border: 1px solid #d0d0d0;
  border-radius: 16px;
}

.form-content-right {
  position: relative;
  background-color: #fff;
}

.left {
  position: relative;
  left: 0 !important;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.form-inputs {
  width: 80%;
}

.form-input-btn {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  border-radius: 2px;
  background: #7126b5;
  border-radius: 16px;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
}
