h1 {
  font-family: "Poppins";
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 36px;
  /* or 90% */
}

h5 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}
.shand {
  position: absolute;
  padding: 40% 80% 40% 20%;
}

.c-ungu1 {
  color: #4b1979;
}

.c-ungu2 {
  color: #7126b5;
}

.c-ungu3 {
  color: #7126b5;
}

.c-ungu4 {
  color: #d0b7e6;
}

.c-ungu4 {
  color: #e2d4f0;
}

.c-cream1 {
  color: #aa9b87;
}

.c-cream2 {
  color: #d4c2a8;
}

.c-cream3 {
  color: #ffe9ca;
}

.c-cream4 {
  color: #fff0dc;
}

.c-cream4 {
  color: #fff8ed;
}
.c-merah1 {
  color: #fa2c5a;
}

.c-kuning {
  color: #f9cc00;
}

.c-hijau {
  color: #73ca5c;
}

.c-hitam1 {
  color: #151515;
}

.c-hitam2 {
  color: #3c3c3c;
}

.c-abu1 {
  color: #8a8a8a;
}

.c-abu2 {
  color: #d0d0d0;
}

.c-putih {
  color: #ffffff;
}

.s-low {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

.s-hight {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.form-container {
  /* margin: 100px auto; */
  width: 100%;
  /* box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2); */
  position: relative;
  /* border-radius: 10px; */
  height: 600px;
  display: grid;
  grid-template-columns: 1fr;
}

.close-btn {
  position: absolute;
  top: 2%;
  right: 3%;
  font-size: 1.5rem;
  z-index: 1;
  color: #fff;
  cursor: pointer;
}

.form-content-left {
  background-image: url("../assets/images/gambar1.png");
  /* background: linear-gradient(90deg, rgb(39, 176, 255) 0%, rgb(0, 232, 236) 100%); */
  /* border-radius: 10px 0 0 10px; */
  position: relative;
  min-height: 100vh;
}

.form-images {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(
    360deg,
    #a06ece 50%,
    rgba(160, 110, 206, 0) 100%
  );
  opacity: 0.6;
}

.form-imges-2 {
  /* background-image: url("../../public/images/gambar1.png"); */
  width: 60%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-success {
  text-align: center;
  font-size: 24px;
  margin-top: 80px;
  color: #fff;
}

.form-content-right {
  /* border-radius: 0 10px 10px 0; */
  position: relative;
  background-color: #fff;
  /* background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(17, 17, 17) 100%); */
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form h1 {
  font-size: 1rem;
  text-align: start;
  width: 80%;
  margin-bottom: 1rem;
  color: #fff;
}

.form-inputs {
  width: 80%;
}

.form-inputs-nama {
  width: 80%;
}

.form-inputs p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #f00e0e;
}

.form-label {
  display: inline-block;
  font-size: 0.8rem;
  margin-bottom: 6px;
  color: balck;
}

.form-input {
  display: block;
  padding-left: 10px;
  outline: none;
  height: 40px;
  width: 100%;
  border: 1px solid #d0d0d0;
  border-radius: 16px;
}

.form-input::placeholder {
  color: #595959;
  font-size: 12px;
}

.form-input-btn {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  border-radius: 2px;
  background: #7126b5;
  border-radius: 16px;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
}

.daftar-jual {
  position: absolute;
  width: 171px;
  height: 30px;
  left: 236px;
  top: 124px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;

  color: #000000;
}

.produk-sukses {
  position: absolute;
  width: 171px;
  height: 30px;
  left: 236px;
  top: 124px;

  width: 50%;
  height: 50px;
  margin-top: 10px;
  border-radius: 16px;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  align-items: center;
  width: 500px;
  height: 52px;
  left: 470px;
  top: 100px;

  background: #73ca5c;
  /* Shadow/High */

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
}

.form-input-btn:hover {
  cursor: pointer;
  background: #7126b5;
  border-radius: 16px;
  transition: all 0.4s ease-out;
}

.form-input-login {
  font-size: 0.8rem;
  margin-top: 10px;
  color: black;
  width: 80%;
  text-align: center;
  justify-content: center;
}

.form-input-login a {
  text-decoration: none;
  color: #7126b5;
  font-weight: 600;
}

@media (min-width: 768px) {
  .form-container {
    grid-template-columns: 1fr 1fr;
  }
}
