/* GETTING STARTED CAROUSEL */
.box {
  padding-top: 30px;
  width: auto;
  height: 288px;
  margin-left: 2rem;
  margin-right: 2rem;
}
.item-ramadhan {
  width: 100%;
  height: 250px;
  background: url("../../assets/images/ramadhan.jpg");
  background-size: cover;
  border-radius: 8px;
}
.item-merdeka {
  width: 100%;
  height: 250px;
  background: url("../../assets/images/merdeka.jpg");
  background-size: cover;
  border-radius: 8px;
}
.item-newyear {
  width: 100%;
  height: 250px;
  background: url("../../assets/images/newyear.jpg");
  background-size: cover;
  border-radius: 8px;
}
.card-title {
  color: aliceblue;
}
.card-left {
  margin: 25px 0 25px 30px;
}
.card-right {
  font-size: 12px;
  margin: 25px 0 25px 30px;
}
.faq-icon {
  color: gold;
  margin-bottom: 5px;
}
.diskon {
  font-size: 30px;
  font-weight: 500;
  color: red;
}
.owl-carousel .testi-body {
  display: flex;
}
/* END OF GETTING STARTED CAROUSEL */

/* CATEGORY JUALAN */
.search-title h1 {
  font-size: 24px;
  display: flex;
  justify-content: flex-start;
}
.btn-category {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.btn-list-cat {
  font-size: 13px;
  margin-right: 8px;
  background-color: #e2d4f0;
  font-family: "Poppins";
  font-style: normal;
  border: none;
  border-radius: 12px;
  color: #3c3c3c;
  font-weight: 500;
  padding: 10px 20px 10px 20px;
  justify-content: flex-start;
}
/* END OF CATEGORY BARANG JUALAN */

/* CARD LIST BARANG JUALAN */
.card-all {
  margin-top: 10px;
  width: 166px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
}
.card-all:hover {
  transform: scale(1.02);
  box-shadow: 0 2px 20px gray;
}
.card-body img {
  background-size: cover;
  width: 100%;
  height: 100px;
  object-fit: cover;
}
.text-merk {
  font-size: 18px;
}
/* .card-btn {
  margin: 0 1rem 1rem 1rem;
  border-radius: 5px;
  border: 1px solid gray;
} */
.card-btn:hover {
  background: #2f3640;
  color: #ffffff;
}
/* END OF CARD LIST BARANG JUALAN */

/* FOOTER */
.footer {
  margin-top: 60px;
  background: #ffffff;
}
.foot {
  display: flex;
  padding: 10px 8px 0px 0px;
}
.adress {
  width: 27%;
}
.social-media {
  width: 27%;
}
.social-media a {
  margin-right: 14px;
}

.fb {
  float: left;
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
  background: #e84118;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  margin-right: 10px;
}
.fb:hover {
  animation-name: spin;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.copyright {
  width: 20%;
  margin-left: 60px;
}
.text-copy {
  text-decoration: none;
}
/* END OF FOOTER */

/* MOBILE VERSION */
/* ------------------------------------------------------------------------------------------------ */
@media screen and (min-width: 320px) and (max-width: 767px) {
  /* .text-brand {
    display: none;
  }
  .btn-jual {
    margin: 20px 40%;
    width: 25%;
    bottom: 200px;
    font-weight: 400;
    padding: 3px 10px 8px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    font-family: "Poppins";
  } */
  /* NAVIGATION BAR */
  /* .search-box {
    width: 200px;
    top: 50%;
    height: 40px;
    color: #ffffff;
  }
  .search-bar {
    margin-left: -20px;
  }
  .search-title h1 {
    font-size: 24px;
    margin-top: 100px;
    display: flex;
    justify-content: flex-start;
    margin-left: 8px;
  }
  .search-txt {
    width: 70px;
    margin-left: 5px;
    margin-top: -20px;
    line-height: 40px;
  }
  .search-btn {
    height: 25px;
  } */
  /* END OF NAVIGATION BAR */

  /* GETTING STARTED CAROUSEL */
  /* .card-left {
    margin: 15px 0 25px 10px;
  }
  .card-right {
    margin: 15px 0 25px 10px;
  }
  .card-title {
    font-size: 14px;
    margin: 0px;
    font-weight: 500;
  }
  .diskon {
    font-size: 24px;
    font-weight: 500;
    text-shadow: 2px 2px #ffffff;
    color: red;
    text-decoration: underline;
    font-style: italic;
  }
  .owl-carousel .testi-body {
    display: flex;
  } */
  /* END OF GETTING STARTED */

  /* CATEGORY BARANG JUALAN */
  /* .search-title h1 {
    font-size: 20px;
  }
  .btn-category {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .btn-list-cat {
    margin-left: 6px;
    margin-bottom: 6px;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: 500;
    padding: 2px 4px 3px 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  } */
  /* END OF CATEGORY BARANG JUALAN */

  /* CARDLIST */
  /* .card-all {
    margin-bottom: 10px;
    width: 250px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
  } */
  /* END OF CARDLIST */

  /* FOOTER */
  /* .social-media {
    width: 100%;
  } */
  /* FOOTER */
}

/* ------------------------------------------------------------------------------------------------ */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* .text-brand {
    display: none;
  } */
  .search-box {
    /* position: absolute; */
    width: 400px;
    top: 50%;
    left: 50%;
    height: 40px;
  }
  .search-title h1 {
    font-size: 24px;
    margin-top: 100px;
    display: flex;
    justify-content: flex-start;
    margin-left: 8px;
  }
  .search-txt {
    width: 350px;
    margin-left: 5px;
    margin-top: -20px;
    line-height: 40px;
  }
  .search-btn {
    height: 25px;
  }

  /* Testimonial */

  .testimonial {
    width: 100%;
  }
  .item {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 8px;
  }
  .card-all {
    margin-top: 35px;
    margin-bottom: 10px;
    width: 250px;
  }
  .card-left {
    margin: 15px 0 25px 10px;
  }
  .card-right {
    margin: 15px 0 25px 10px;
  }
  .card-title {
    font-size: 20px;
    margin: 0px;
    font-weight: 500;
  }
  .diskon {
    font-size: 30px;
    font-weight: 500;
    color: red;
    text-decoration: underline;
    font-style: italic;
  }
  .owl-carousel .testi-body {
    display: flex;
  }
  /* End Of Testimonial */

  /* FOOTER */
  .social-media {
    width: auto;
    /* margin-left: 60px; */
  }
  /* FOOTER */
}

/* ------------------------------------------------------------------------------------------------ */
@media screen and (width: 2560px) {
  .bg-home {
    height: 35vh;
  }
  .bgCategory {
    height: 10vh;
  }
  /* CATEGORY */
  .search-title h1 {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    margin-left: 8px;
  }
  /* END OF CATEGORY */

  /* CARD */
  .card-all {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 250px;
  }
  /* CARD */
  .social-media {
    width: auto;
    /* margin-left: 60px; */
  }
  .social-media a {
    margin-right: 14px;
  }
}
