.product-picture__small {
  display: block;
}

.product-picture__big {
  display: none;
}

.carousel-image2 {
  height: 228.56px;
}

.seller-btn {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  margin: 20px auto;
}

.keterangan-produk {
  margin-top: -20px;
  z-index: 99;
}

@media (min-width: 768px) {
  .product-picture__small {
    display: none;
  }

  .product-picture__big {
    display: block;
  }

  .keterangan-produk {
    margin-top: 0;
    z-index: 0;
  }
}
