.edit {
    border-radius: 16px;
  }
  
  .button {
    text-align: right;
  }
  
  .card-add__produk {
    cursor: pointer;
  }
  
  .card-add__produk:hover {
    transform: scale(1.02);
    box-shadow: 0 2px 20px gray;
  }
.edit {
  border-radius: 16px;
}

.button {
  text-align: right;
}

.card-add__produk {
  cursor: pointer;
}

.card-add__produk:hover {
  transform: scale(1.02);
  box-shadow: 0 2px 20px gray;
}
.edit {
    border-radius: 16px;
  }
  
  .button {
    text-align: right;
  }
  
  .card-add__produk {
    cursor: pointer;
  }
  
  .card-add__produk:hover {
    transform: scale(1.02);
    box-shadow: 0 2px 20px gray;
  }
    