.text-black {
  text-align: left;
}

.aksesories {
  text-align: left;
}

.harga {
  text-align: left;
}

.nama-penjual {
  text-align: left;
}

.kota {
  text-align: left;
}

.seller-buyer {
  width: 125%;
  height: 40px;
  margin-top: 10px;
  border-radius: 2px;
  border-radius: 16px;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
}
.seller-buyer {
  background: #7126b5;
  width: 125%;
  height: 40px;
  margin-top: 10px;
  border-radius: 2px;
  border-radius: 16px;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
}

.seller-edit {
  width: 125%;
  height: 40px;
  margin-top: 10px;
  border-radius: 2px;
}

.btn-seller {
  width: 80%;
}

.btn-edit {
  width: 80%;
}

.btn-terbitkan {
  width: 80%;
  display: none;
}

.btn-buyer {
  width: 80%;
  display: none;
}
/* .product-picture__small {
    display: block;
  }
  
  .product-picture__big {
    display: none;
  }
  
  .carousel-image2 {
    height: 228.56px;
  }
  
  .seller-btn {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    margin: 20px auto;
  }
  
  .keterangan-produk {
    margin-top: -20px;
    z-index: 99;
  }
  
  @media (min-width: 768px) {
    .product-picture__small {
      display: none;
    }
  
    .product-picture__big {
      display: block;
    }
  
    .keterangan-produk {
      margin-top: 0;
      z-index: 0;
    }
  }
  
   */
