.title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 5px !important;
}
.desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
}

.add {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
}
.size {
  width: 100%;
  height: fit-content;
}

.size-a {
  width: 100%;
  height: 100%;
}
.border-c {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.border-k {
  border-radius: 4px;
  border: 1px dashed #d0d0d0;
  stroke-dasharray: 10;
}

.border-g {
  border-radius: 4px;
}
.line {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  max-height: 3.6em; /* I needed this to get it to work */
}

.neutral {
  color: #8a8a8a;
}

.size-s {
  width: 100%;
}
.ant-card-body {
  width: 100%;
  height: fit-content;
  padding: none !important;
}
