/* INFO PRODUK & SELLER INFO PRODUK*/
.text-info-produk {
  display: none;
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.offers-page.container {
  margin-top: 85px;
  width: 55%;
}

.offers-page .product-offering {
  margin: 0 0 0 10%;
  width: 87%;
}

.offers-page .product-offering .card-buyer {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

.offers-page .product-offering .card-buyer .buyer {
  height: 48px;
  width: 48px;
  border-radius: 12px;
  margin-top: 5px;
}

.offers-page .product-offering .card-buyer .buyer img {
  height: 48px;
  width: 48px;
  border-radius: 12px;
}

.offers-page .product-offering .items-offering {
  border-bottom: 1px solid rgba(229, 229, 229, 1);
}

.offers-page .product-offering .items-offering .first-div img {
  height: 48px;
  width: 48px;
  border-radius: 12px;
  margin-top: 4px;
}

.offers-page .items-offering button {
  border: 1px solid rgba(113, 38, 181, 1);
  border-radius: 16px;
  font-weight: 500;
}

.offers-page .items-offering button:nth-child(1) {
  background-color: rgb(255, 255, 255);
  color: black;
}
.offers-page .items-offering button:nth-child(2) {
  background-color: rgba(113, 38, 181, 1);
}
.body-produk {
  margin-top: 75px;
  margin-bottom: 10px;
}
.btn-back {
  border: none;
  background: none;
  position: absolute;
  margin-left: -90px;
  color: #222831;
}
.first-div img {
  height: 48px;
  width: 48px;
  border-radius: 12px;
  margin-top: 4px;
}
.back-mobile {
  display: none;
}
.form-produk {
  width: 50%;
  margin-left: 25%;
}
.textarea {
  height: 200px;
}
.box-form {
  border-radius: 10%;
}
.add-img {
  font-size: 24px;
  border: 1px solid black;
  border-style: dashed;
  padding: 25px;
  cursor: pointer;
  position: absolute;
  margin-top: -15px;
}
.input-file {
  display: none;
  visibility: none;
}
.btn-preview {
  margin-top: 70px;
  width: 48%;
  border-radius: 20px;
  border: none;
  background: #7126b5;
  color: #ffff;
  padding: 4px 0 4px 0;
}
/* .btn-preview:hover {
    background: #7126B5;
    color: #222831;
    font-weight: 500;
  } */
.btn-terbitkan {
  padding: 4px 0 4px 0;
  border: none;
  color: #ffff;
  border-radius: 20px;
  width: 48%;
  margin-left: 4%;
  background: #7126b5;
}
/* .btn-terbitkan:hover {
    background: #00a8cc;
    color: #222831;
    font-weight: 500;
  } */
/* AKHIR INFO PRODUK */

/* INFO AKUN */
.text-info {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.account-img {
  font-size: 24px;
  border: none;
  background-color: #e2d4f0;
  padding: 25px;
  border-radius: 12px;
  cursor: pointer;
  position: absolute;
  margin-top: -15px;
}
.foto-akun {
  margin-bottom: 80px;
  margin-left: 43%;
  /* text-align: center; */
}
.btn-simpan {
  padding: 4px 0 4px 0;
  border: none;
  color: #ffff;
  border-radius: 20px;
  width: 100%;
  margin-top: 1px;
  background: #7126b5;
}
/* AKHIR INFO PRODUK */

@media screen and (min-width: 320px) and (max-width: 767px) {
  .back-mobile {
    display: contents;
  }
  .text-info-produk {
    display: contents;
  }
  .container-info-akun {
    margin-left: 5px;
    margin-top: 25px;
  }
}
