h1 {
  font-family: "Poppins";
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 36px;
  /* or 90% */
}

.form-content-right {
  /* border-radius: 0 10px 10px 0; */
  position: relative;
  background-color: #fff;
  /* background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(17, 17, 17) 100%); */
}

.form-success {
  text-align: center;
  font-size: 24px;
  margin-top: 80px;
  color: #fff;
}

.form-imges-2 {
  /* background-image: url("../../public/images/gambar1.png"); */
  width: 60%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
