/* GETTING STARTED CAROUSEL */
.box {
  padding-top: 30px;
  width: auto;
  height: 288px;
  margin-left: 2rem;
  margin-right: 2rem;
}
.item-ramadhan {
  width: 100%;
  height: 250px;
  background: url("../../assets/images/ramadhan.jpg");
  background-size: cover;
  border-radius: 8px;
}
.item-merdeka {
  width: 100%;
  height: 250px;
  background: url("../../assets/images/merdeka.jpg");
  background-size: cover;
  border-radius: 8px;
}
.item-newyear {
  width: 100%;
  height: 250px;
  background: url("../../assets/images/newyear.jpg");
  background-size: cover;
  border-radius: 8px;
}
.card-title {
  color: aliceblue;
}
.card-left {
  margin: 25px 0 25px 30px;
}
.card-right {
  font-size: 12px;
  margin: 25px 0 25px 30px;
}
.faq-icon {
  color: gold;
  margin-bottom: 5px;
}
.diskon {
  font-size: 30px;
  font-weight: 500;
  color: red;
}
.owl-carousel .testi-body {
  display: flex;
}
/* END OF GETTING STARTED CAROUSEL */

/* CATEGORY JUALAN */
.search-title h1 {
  font-size: 24px;
  display: flex;
  justify-content: flex-start;
}
.btn-category {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.btn-list-cat {
  font-size: 13px;
  margin-right: 8px;
  background-color: #e2d4f0;
  font-family: "Poppins";
  font-style: normal;
  border: none;
  border-radius: 12px;
  color: #3c3c3c;
  font-weight: 500;
  padding: 10px 20px 10px 20px;
  justify-content: flex-start;
}
/* END OF CATEGORY BARANG JUALAN */

/* CARD LIST BARANG JUALAN */
.card-all {
  margin-top: 10px;
  width: 166px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
}
.card-all:hover {
  transform: scale(1.02);
  box-shadow: 0 2px 20px gray;
}
.card-body img {
  background-size: cover;
  width: 100%;
  height: 100px;
  object-fit: cover;
}
.text-merk {
  font-size: 18px;
}
/* .card-btn {
  margin: 0 1rem 1rem 1rem;
  border-radius: 5px;
  border: 1px solid gray;
} */
.card-btn:hover {
  background: #2f3640;
  color: #ffffff;
}

.btn-jual {
  margin: 20px 40%;
  width: 25%;
  font-weight: 400;
  padding: 3px 10px 8px 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  font-family: "Poppins";
}
