.keterangan-produk {
  margin-top: -20px;
  z-index: 99;
}

.keterangan-produk {
  margin-top: 0;
  z-index: 0;
}

@media (min-width: 768px) {
  .product-picture__small {
    display: none;
  }

  .product-picture__big {
    display: block;
  }

  .keterangan-produk {
    margin-top: 0;
    z-index: 0;
  }
}