/* .bg-home {
  height: 60vh;
  background-color: #eeeeee;
} */
/* .bgCategory {
  margin-top: 20px;
  height: 15vh;
} */

/* NAVIGATION BAR */
.navs {
  background: #222831;
  top: 0;
}
.search-box {
  margin-left: 20px;
  width: 350px;
  top: 50%;
  height: 40px;
  background: #eeeeee;
  border-radius: 16px;
  padding: 10px;
}
.search-txt {
  width: 300px;
  margin-left: 8px;
  margin-top: -27px;
  border: none;
  background: none;
  outline: none;
  padding: 0;
  color: #8a8a8a;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
}
.search-btn {
  color: #8a8a8a;
  float: right;
  margin-right: 5px;
  margin-top: -1px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.text-brand {
  font-weight: bolder;
}

.btn-masuk {
  background-color: #7126b5;
  color: #eeeeee;
  border: none;
  border-radius: 12px;
  font-weight: 400;
  font-size: 14px;
  padding: 10px;
  font-family: "Poppins";
}
/* END OF NAVIGATION BAR */
